
.form-container {
  margin:auto;
}
.form-crew{
  font-size: 15px;
}
.create-crew{
  margin:auto;
  width:70%;
  height:300px;
  z-index: 2;
  position: fixed;
  background-color: #ffffff;
}
.input-box{
  margin-top: 15px;
  width: 50%;
  padding: 15px;
  font-size: 15px;
  margin-bottom:5px;
  border-radius: 10px;
}
.preview-title{
  margin-top:20px;
}
.line{
  margin-top: 300px;
  flex-grow:1;
  height: 1px;
  background-color:rgb(240, 240, 240);
}
.preview-container {
  margin-top: 10px;
  width:100%;
  height: 100vh;
  z-index: 1;
}
.crew-preview{
  margin:auto;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.crew-preview img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}
.preview-img{
  position: relative;
  width:100%;
  height: 250px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  text-align: center;
}
.centered-image{
  display: block;
  margin:0 auto;
}
.centered-text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: large;
  color:#fff;
}
.crew-name{
  width:100%;
  height:50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:30px;
  font-weight: bolder;
}
.crew-name-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-space{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
}
.crew-description{
  text-align: center;
  font-weight: bold;
}
.crew-post-title{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.crew-post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.create-crew-btn{
  position: fixed;
  margin-right: 10%;
  margin-bottom:30px;
  width: 150px;
  bottom: 20px;
  right:0;
  border-radius: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.create-crew-btn:hover {
  background-color: rgb(240,240,240);
  color:#000;
}
.dark-mode .create-crew{
  background-color: #000;
  color:#fff;
}
.dark-mode .description-space{
  background-color: rgb(30, 30, 30);
}
.dark-mode .input-box{
  background-color: rgb(30, 30, 30);
  color:#fff;
}
.dark-mode .preview-img{
  background-color: rgb(30, 30, 30);
  color:#fff;
}