<<<<<<< HEAD
.group-page {
  display: flex;
  justify-content: center;
}
.content-container {
  flex: 1;
  padding: 20px;
}
.recommended-crews {
  margin-top: 40px;
=======
.crewmain-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
}
.crew-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가운데로 배치 */
  align-items: flex-start; /* 위쪽 정렬 */
}
.crew-box {
  width: 300px;
  height: 350px;
  margin: 20px;
<<<<<<< HEAD
  border-radius: 15px; 
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
=======
  border-radius: 15px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
<<<<<<< HEAD
.crew-box:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
=======
.crew-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
  transform: scale(1.1);
}
.crew-image {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.crew-avatar {
<<<<<<< HEAD
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  background-color: rgb(240,240,240);
}
.crew-info h3 {
=======
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
}
.crew-info h3 {
  padding-top: 10px;
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
  margin: 0;
}
.crew-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 최대 1줄까지 표시 */
  -webkit-box-orient: vertical;
}
.crew-stats {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}
.dot {
  margin: 0 5px; /* 멤버 수와 게시물 수 사이 간격 조정 */
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 50%;
}
.stat-label {
  margin: 0;
}
.CrewJoin-button {
<<<<<<< HEAD
  width:150px;
=======
  width: 150px;
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
  padding: 5px 10px;
  margin: 0px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
}
.CrewJoin-button:hover {
<<<<<<< HEAD
  background-color: rgb(240,240,240);
  color:#000;
}
=======
  background-color: rgb(240, 240, 240);
  color: #000;
}
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
