<<<<<<< HEAD
.editdiv {
  margin-top: 10px;
  align-items: center;
  }
.title-input {
  margin-top: 50px;
    padding:10px;
    font-size: 20px;
    width: 98.1%;
    margin-bottom: 10px;
    border: 1px solid #cccaca;
}
.upload {
  float: right;
  padding: 60px 0px 0px 0px;
}
.savephoto-btn{
  border:none;
  width:100px;
  padding:7px;
  color:#fff;
  font-weight: bold;
}
.savebutton {
    margin-right: 10%;
    margin-bottom:100px;
    width: 80px;
    bottom: 20px;
    right:0;
    border-radius: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #161515;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
}
.savebutton:hover {
    background-color: rgb(240,240,240);
    color:#000;
  }
.savephoto-btn:hover {
    background-color: rgb(240,240,240);
    color:#000;
=======
.edit-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
}
.edit-container input {
  width: initial;
  height: 20px;
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #cccaca;
}
.edit-container .editdiv {
  width: initial;
  min-height: 400px;
}
.edit-container .upload {
  width: 6rem;
  height: 2rem;
  margin: 1rem 0 0 auto;
  padding: 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
>>>>>>> 2d5904f06dfbeec2a98285db8234a28f0fa88d43
}
