.editdiv {
  margin-top: 10px;
  align-items: center;
  }
.title-input {
    padding:30px;
    font-size: 20px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.savephoto-btn{
  border:none;
  width:100px;
  padding:7px;
  color:#fff;
  font-weight: bold;
}
.savebutton {
    position: fixed;
    margin-right: 10%;
    margin-bottom:100px;
    width: 80px;
    bottom: 20px;
    right:0;
    border-radius: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #161515;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
.savebutton:hover {
    background-color: rgb(240,240,240);
    color:#000;
  }
.savephoto-btn:hover {
    background-color: rgb(240,240,240);
    color:#000;
}
.dark-mode .editdiv, .dark-mode .title-input{
  background-color: rgb(30,30,30);
  color:#fff;
}