.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가운데로 배치 */
  align-items: flex-start; /* 위쪽 정렬 */
}
.box {
  width: 300px;
  height: 350px;
  border-radius: 15px;
  margin: 14px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.box-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  background-color: rgb(240, 240, 240);
}
.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  background-color: rgb(240, 240, 240);
}
.box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.box-summary {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.board-title {
  font-weight: bold;
  font-size: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-contents {
  margin-top: 5px;
  height: 20px;
  font-size: 15px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.circle {
  float: left;
  margin-top: 35px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
}

.circle img {
  height: 100%;
}
.exchangeImg {
  height: 100%;
  border-radius: inherit;
}
.username {
  margin-top: 37px;
  margin-left: 10px;
  float: left;
  font-weight: 700;
  font-size: 15px;
}
.btn {
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border: none;
  font-size: 18px;
  letter-spacing: -2px;
  font-weight: bolder;
  position: relative;
}
.btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px; /* 밑줄의 위치를 조정 */
  width: 100%;
  height: 2px;
  background-color: black; /* 밑줄의 색상을 지정 */
}
