
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.box{
  flex: 0 0 calc(25% - 10px);
  max-width: 300px;
  width: 100%;
  height: 350px;
  border:1px solid rgb(240, 240, 240);
  border-radius: 15px; 
  margin:15px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.box img{
  width:300px;
  height: 200px;
  border-radius: 12px;
}
.box:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transform: scale(1.1);
}
.box-summary{
  margin-top: 5px;
  margin-left:20px;
  margin-right: 20px;
  text-align: left;
}
.board-title{
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.board-contents{
  margin-top: 5px;
  height: 40px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:vertical;
  overflow: hidden;
  text-overflow:ellipsis;
}
.circle img{
  float:left;
  margin-top:35px;
  width:24px;
  height: 24px;
  border-radius: 50%;
}
.username{
  margin-top: 37px;
  margin-left: 10px;
  float:left;
  font-weight: 700;
  font-size: 15px;
}
.like-btn{
  float: right;
  margin-top:35px;
  width: 60px;
  height: 25px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px 15px; 
  border-radius: 15px; 
  cursor: pointer; 
  font-size: 12px;
}
.like-btn img{
  width:13px;
  height: 13px;
  float:left;
  margin:auto;
  margin-right:2px;
}
.button-container {
  width:71%;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.button-container img{
  width:18px;
  height:18px;
  margin-right: 5px;
}
.dark-mode .button-container img{
  filter:invert(1);
}
.btn{
  padding:5px;
  margin-left:10px;
  background-color: rgba(255, 255, 255, 0);
  color:#000;
  border:none;
  font-size: 18px;
  letter-spacing:-2px;
  font-weight: bolder;
  position: relative;
}
.btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; /* 밑줄의 위치를 조정 */
  width: 100%;
  height: 2px;
  background-color: black; /* 밑줄의 색상을 지정 */
}
.dark-mode .btn{
  color:#fff;
}
.dark-mode .btn.active::after{
  background-color: #fff;
}

