.title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 45px;
  font-weight: 900;
}
.meta-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.actions {
  margin-top: 10px;
}
.container{
  padding-top:50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#info{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copy-button{
  float: right;
  margin-top:10px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #080808;
  color: #ffffff;
  padding: 5px; 
  cursor: pointer; 
  font-size: 13px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}
.button-container5 {
  display: flex;
  padding-left: 10px;
}
.button-container5 button {
  margin-right: 10px;
  padding: 5px 5x;
  border: none;
  border-radius: 15px;
  background-color: rgb(240, 240, 240);
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  font-weight: li;
}
.button-container5 button:hover {
  background-color: rgb(240, 240, 240);
}
.apple {
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 15px;
  min-height: 400px;
}
.contents {
  border-radius: 15px;
  min-height: 400px;
  background-color: rgb(240, 240, 240);
}
.carousel__item {
  min-height: 320px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color: var(--vc-clr-white);
  font-size: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__slide {
  padding: 10px;
  color: #ffffff;
}
.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
  color: #ffffff;
}
.page {
  background-color: aqua;
}
.page-up-button {
  position: fixed;
  width: 80px;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #161515;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.page-up-button:hover {
  background-color: #999;
}
.comments-section {
  margin-top: 20px;
  margin-bottom: 10px;
}

.comments-section h2 {
  font-size: 25px;
  font-weight: bold;
}

.comments-section form {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  
}


.comments-section input[type="text"] {
  width: 98.7%;
  min-height: 100px;
  padding: 5px;
  border-color: #e1e0e0;
  border-radius: 5px;
  font-size: large;
  flex: 1;
}

.comments-section button[type="submit"] {
  padding: 3px 8px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  min-height: 40px;
  margin-left: auto;
}
.comments-section button[type="submit"]:hover {
  background-color: #999;
}

.comments-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-section li p {
  flex: 1;
  margin-right: 5px;
}

.comments-section li button {
  padding: 5px 8px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background-color: #000000;
  border-color: #fff;
  margin-left: auto;
  border-radius: 15px;
}
.comments-section li button:hover {
  background-color: #999;
}

.comment-buttons {
  text-align: right;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
}

.delete-button {
  padding: 3px 8px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 9px;
  color: #333;
  cursor: pointer;
}
.edit-button{
  padding: 3px 8px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 9px;
  color: #333;
  cursor: pointer;
}

.actions {
  text-align: right;
  margin-top: 10px;
}

.e-button,
.d-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
