.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5rem;
  width: 4rem;
  height: 100vh;
  line-height: 50px;
  font-weight: 500;
  background-color: lightsteelblue;
  z-index: 10;
}
.sidebar img {
  margin: 1rem auto;
  display: block;
}
