.top {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5vh;
  padding: 1rem 0;
  background-color: white;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
.top-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
}
.logo img {
  width: 80px;
}
.top-nav {
  display: flex;
  flex-direction: row;
}
.top-nav .make-crew {
  width: 30px;
}
.top-nav button {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  padding: 0;
  margin-inline: 0.5rem;
}
.login-btn:hover {
  background-color: slategray;
  color: #000;
}
